.robinhood-color {
    background-color: #fff;
    color: #21ce99;
}

* {
    font-family: Roboto, sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

/*Importing Roboto font from file*/

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-Thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-ThinItalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-LightItalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-Medium-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../dist/fonts/Roboto-MediumItalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}